.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  max-width: 400px;
  width: 100%;
  transition: border-color 0.3s ease;
  margin-right: 5px;
}

.searchInput:focus {
  border-color: #4caf50;
  outline: none;
}

.searchInput::placeholder {
  color: #888;
}

.searchInput.error {
  border-color: red;
}
